/* You can add global styles to this file, and also import other style files */
/* login
-----------------------------------------*/
.signup-title{
	font-size: 1.7rem;
	font-weight: normal!important;
	color: var(--primary-500) !important;
}
.form-group label{
	font-size: 1.2rem;;
}
.login-information-title {
	line-height: 1.25;
	font-size: 1.875rem;
	letter-spacing: 1px;
	font-weight: 600;
}
/* guide
-----------------------------------------*/
.guide-list-title{
	line-height: 1.25!important;
	font-size: 1.875rem!important;
	font-weight: normal;
}
.guide-list-excerpt{
	font-size: 1.125rem!important;
}
.popular-item .guide-list-item{
	padding-bottom: 84px;
}
.popular-item .guide-list-title {
	font-size: 1.375rem!important;
	font-weight: bold;
}
.popular-item .guide-list-anchor {
	left: 24px;
	bottom: 24px;
	z-index: 1;
}
.popular-questions .guide-list-title{
	color: #FFF;
}
.popular-questions .guide-list-excerpt{
	color: var(--primary-200);
}
.popular-questions svg{
	margin-left: 10px;
}
.popular-questions .btn {
	color: var(--primary-500) !important;
  background-color: var(--primary-yiq);
}

/* list
-----------------------------------------*/
.create-btn button{
	position: relative;
	height: 2.5rem;
	font-weight: bold;
	padding-right: 2rem!important;
	padding-left: 1rem!important;
}
.create-btn .dropdown-menu button{
	font-weight: normal;
}
.create-btn button::after{
	border: none;
	display: block;
	position: absolute;
	top: 50%;
	right: 15px;
	width: 6px;
	height: 6px;
	margin: -4px 0 0 0;
	border-top: solid 2px #FFF;
	border-right: solid 2px #FFF;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
.shifter-dashboard-main .progress {
	right: 0rem!important;
	left: 0rem!important;
}
.sitelist-title span{
	font-size: 0.875rem!important;
	color: var(--danger);
	background-color: #ffe9e9;
}
.sitelist-title a {
	font-size: 22px;
	color: var(--gray-800);
}
.sitelist-express span{
	width: 1.375rem;
	height: 1.375rem;
	line-height: 1.375rem;
	background-color: var(--primary-200);
	font-size: .75rem;
}
.switch-btn button.btn-switch{
	height: 2.5rem;
	font-weight: bold;
	color: var(--primary);
}
.switch-btn button.btn-switch::after{
	display: none;
}
.switch-btn .dropdown-menu button{
	height: 2.5rem;
	min-width: 224px;
	color: #484043;
	letter-spacing: .35px;
	font-weight: normal;
}
.switch-btn .dropdown-menu button span::after{
	content: "■";
	font-size: 20px;
	position: absolute;
	top:50%;
	right: 0;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #bdb6b8;
}
.switch-btn .dropdown-menu button.btn-start span::after{
	content: "▶︎";
	font-size: 14px;
}

/* set
-----------------------------------------*/
.sideber{
	border-right: 1px solid var(--gray-100);
}
@media (max-width: 992px) { 
	.sideber{
		border-right: none;
	}
}
.shifter-dashboard-columns{
	border-top: none!important;
}
.shifter-dashboard-columns .sidebar-nav::before {
	right: -17px;
}
.notification-status{
	font-weight: 700;
}
.base-notification-box.no-side-border {
	border: none;
	border-top: 1px solid var(--gray-100);
	border-bottom: 1px solid var(--gray-100);
}
.base-notification-box.no-top-border {
	border-top: none;
}
@media (max-width: 992px) { 
	.shifter-dashboard-columns .sidebar-nav > ul {
		display: block!important;
		overflow: auto!important;
	}
}
